.pagina#classificacao{
    background-color: white;
    width: 100%;
    text-align: center;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3em;
    border-radius: 10px;
    padding: 10px;
  }
  p,div,#horas {
    text-align: center;
  }

  #classificacao{
    width: 100%;
  }
  .pagina h2{
    text-align: center;
    color: rgb(97, 96, 96);
    padding-top: 1em;
    padding-bottom: 1em;
  }

