#body {
    background-color: rgb(255, 250, 250);
  }
  .pagina{
    background-color: white;
    width: 50em;
    text-align: center;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    border-radius: 10px;
    padding: 10px;
  }
  .pagina h2{
    text-align: center;
    color: rgb(97, 96, 96);
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .form-floating.mb-3{
    width: 100%;
  }
  /*campos centralizados*/
  .form-floating.mb-4{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .floatingSelect{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  
  #floatingTextarea2{
    height: 100px;
  }
  .form-btn{
    text-align: center;
  }
  .btn.btn-success{
    margin-top: 15px;
  }
  .form-select{
    width: 100%;
    margin-top:3em;
  }
  option{  
    color:  rgb(97, 96, 96);
  }