.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding: 10px;

}

.home {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #022041;
    color: white;
    width: 130%;
    height: auto;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
}

.titulo {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.texto {
    font-size: 15px;
    text-align: left;
    padding: 15px;
    padding-bottom: 10px;
}

.img-logo-2rp {
    margin-top: 10px;
    width: 350px;
    height: 80px;
    padding-bottom: 15px;
}
.grafico{
    margin-top: 50px;
}

@media (min-width: 450px)
    {
        .home {
            width: 30%;
            height: auto;
        }
    } 