body {
    background-color: rgb(255, 250, 250);
  }
  .pagina{
    background-color: white;
    width: 50em;
    text-align: center;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    border-radius: 10px;
    padding: 10px;
  }

  #aprovacao{
    width: 100%;
  }
  .pagina h2{
    text-align: center;
    color: rgb(97, 96, 96);
    padding-top: 1em;
    padding-bottom:1em;
  }
  .form-floating.mb-3{
    width: 100%;
  }

  .form-floating.mb-3-tipo{
    color:red;
  }

  #floatingInput-tipo
    {
        color: rgb(226, 0, 0) !important;
        width: 30%;
        margin-bottom: 25px;
        background-color: rgb(252, 252, 252);
    }

    #floatingInput-tipo::placeholder
    {
        color: rgb(226, 0, 0);
    }

  /*campos centralizados*/
  .form-floating.mb-4{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  
  #floatingTextarea2{
    height: 100px;
  }

  .entrada2{
    margin-top: -17px;
  }




  /* botões */

  /* Aceitar */
  .form-btn-1{
    text-align: center;
    display: inline;
  }
  .btn.btn-success-1{
    margin-top: 15px;
    color:aliceblue;
    background-color: #00CA72;
    width: 150px ;
  }
  .form-select{
    width: 100%;
  }
  option{  
    color:  rgb(4, 243, 36);
  }

    /* Recusar */
  .form-btn-2{
    text-align: center;
    display: inline;
  }
  .btn.btn-success-2{
    margin-top: 15px;
    color:aliceblue;
    background-color:rgb(238, 2, 2);
    width: 150px;
    margin-left: 50px;
  }
  .form-select{
    width: 100%;
  }
  option{  
    color:  rgb(238, 2, 2);
  }

    /* Editar */
    .form-btn-3{
        text-align: center;
        display: inline;
      }
      .btn.btn-success-3{
        margin-top: 15px;
        color: aliceblue;
        background-color:rgb(0, 68, 255);
        width: 150px;
        margin-left: 50px;
      }
      .form-select{
        width: 100%;
      }
      option{  
        color:  rgb(7, 62, 243);
      }


  /* alterações no popup */
  .btnSim{
    width:80px;
    background-color: #00CA72;
    border: 1px solid rgb(255, 255, 255);
    margin-right: 8em;
  }
  .btnSim:hover{
    width:80px;
    background-color:rgb(124, 250, 141);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 4px -4px rgba(0, 0, 0, 0);
  }

  .btnNao{
    width:80px;
    background-color:red;
    border: 1px solid rgb(255, 255, 255);
  }
  .btnNao:hover{
    width:80px;
    background-color:rgb(240, 71, 71);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 4px -4px rgba(0, 0, 0, 0);
  }

  .footer {
    border: 1px solid  rgb(255, 255, 255);
  }

  .sair {
    margin-top: 10px;
    margin-left: auto;
    border: 1px solid rgb(255, 255, 255);
  }
  .error {
    margin-top: -50px;
  }

  .atencao{
    margin-bottom: -30px;
    font-weight: bold;
  }

  .confAcao{
    color:darkgray;
  }

  /*segundo popup */
  .btnOk{
    width:80px;
    background-color: #00CA72;
    border: 1px solid rgb(255, 255, 255);
  }
  .btnOk:hover{
    width:80px;
    background-color:rgb(124, 250, 141);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 4px -4px rgba(0, 0, 0, 0);
  }

  .operacao{
    color:darkgray;
    margin-top: -25px;
  }

  .sair2{
    margin-top: 10px;
    position: absolute;
    margin-left: 85%;
    border: 1px solid rgb(255, 255, 255);
  }

  .footer1 {
    border: 1px solid  rgb(255, 255, 255);
  }

  .sucess{
    margin-top: 15px;
    margin-bottom: -5px;
    font-weight: bold;
  }